@charset "utf-8";

body {
  font: 0.85em sans-serif;
}

p {
	color: gray;
}

#basic_wages {
	color: steelblue;
}
#office_rent{
	color: lightgreen;
}
#electricity_charges {
	color: sandybrown;
}
#milk{
	color: lightgray;
}
#criminal{
	color: dimgray;
}